a.menu_link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.menu_link:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    background-image: url('corona-chan-black.jpg');
    background-size: contain;
}

div.top {
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

div.header {
    margin-top: 2%;
    margin-left: 2%;
}

span.white {
    background-color: white;
}

span.small_white {
    font-size: 0.8em;
    background-color: white;
}

div.graph_container {
    margin-bottom: 5%;
    width: 100%;
}

div.graph_filler {
    float: left;
    width: 2%;
}

div.canvas_container {
    width: 96%;
    float: left;
}

canvas.graph {
    background-color: rgba(255,255,255,0.85);
}

br.clear {
    clear: both;
}

div.bottom_container {
    width: 100%;
    background-color: gold;
    border: 2px;
    border-color: black;
}

div.bottom_nav {
    padding-left: 3%;
    float: left;
}
